<launch>
  <arg name="rate" default="1.0" />
  <arg name="loop_arg" default="" />

  <node pkg="sss_package"
        type="image_creator.py"
        name="image_creator"
        output="screen" />

  <node pkg="sss_package"
        type="list_creator.py"
        name="list_creator"
        output="screen" />

  <node pkg="sss_package"
        type="geolocalization.py"
        name="geolocalization"
        output="screen">

</launch>
