<launch>
    <rosparam command="load" file="$(find zeno_mission)/config/region_params.yaml" />
    <rosparam command="load" file="$(find zeno_mission)/config/targets.yaml" />
    <rosparam command="load" file="$(find zeno_mission)/config/obstacles.yaml" />



    <!-- lancia controllore -->
    <node pkg="zeno_mission" type="phase3_path_controller.py" name="phase3_path_controller" output="screen"/>

    <!-- lancia plot -->
    <node pkg="zeno_mission" type="phase3_plot.py" name="nav_plot_completo" output="screen" />

    <node pkg="zeno_mission" type="planner_astar_coverage.py" name="planner_astar_coverage" output="screen" />

   


</launch>
