<launch>
    <arg name="phase" default="1" doc="Fase di missione da eseguire (1 per Pure Pursuit, 3 per RRT Path Tracking)" />

    <group if="$(eval arg('phase') == 1)">
        <include file="$(find zeno_mission)/launch/zeno_phase1.launch" />
        <include file="$(find fls_detection)/launch/FLS_launch.launch" />
        <include file="$(find sss_package)/launch/sss.launch" />
        

    </group>

    <group if="$(eval arg('phase') == 3)">
        <include file="$(find zeno_mission)/launch/zeno_phase3.launch" /> 
        <include file="$(find fls_detection)/launch/FLS_launch.launch" />
        <include file="$(find sss_package)/launch/sss.launch" />
        
    </group>
</launch>