<launch>

    <rosparam command="load" file="$(find zeno_python)/config/waypoints.yaml" />
    <rosparam command="load" file="$(find zeno_python)/config/targets.yaml" />
    <rosparam command="load" file="$(find zeno_python)/config/obstacles.yaml" />



    <!-- lancia controllore -->
    <node pkg="zeno_python" type="path_controller.py" name="path_controller" output="screen"/>

    <!-- lancia plot -->
    <node pkg="zeno_python" type="plot_phase1.py" name="plot_phase1" output="screen"/>

    <node pkg="zeno_python" type="pubblica_msg.py" name="waypoint_test_publisher" output="screen"/>
    
   


</launch>